@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Serif:wght@400;700&display=swap");

.font-sans {
  font-family: "Roboto", sans-serif;
}

.font-serif {
  font-family: "Roboto Serif", serif;
}

.font-mono {
  font-family: "Roboto Mono", monospace;
}
